# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore virtual environment
venv/

# Ignore log files
*.log

# Ignore credentials and secrets
premier_league_scraper/credentials/
premier_league_scraper/src/upload.log

# Ignore HTML test data
premier_league_scraper/src/premier_league_stats.html

# Ignore screenshots if not needed
*.png

# Ignore IDE/editor files
.vscode/
*.sublime-project
*.sublime-workspace

# Ignore macOS/Windows system files
.DS_Store
Thumbs.db
